@import "../styles/variables.scss";

@font-face {
  font-family: "Grafita";
  src: url("../fonts/grafita.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Medium.ttf");
}
// header

body {
  font-family: "Manrope";
  background-color: #e7e3da;
}

.header {
  position: fixed;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 15;
  &__left-side {
    display: flex;
    padding-left: 170px;
    @media screen and (max-width: $tablet) {
      justify-content: space-around;
      width: 100%;
      padding-left: 0;
    }
  }

  &__right-side {
    padding-right: 170px;
  }
  &__nav {
    display: flex;
    margin-left: 105px;
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__drop {
    width: 14px;
    margin-left: 4px;
  }
  &__item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #ffffff;
    margin-right: 32px;
    transition: 0.2s;
    &:hover {
      transition: 0.2s;
      text-decoration-line: underline;
      color: #a18460;
    }
  }
  &__icons {
    display: flex;
  }
  &__icon {
    margin-right: 16px;
  }
}

.icon {
  &__image {
    padding: 8px;
    transition: 0.2s;
  }
  &__link {
    :hover {
      transition: 0.2s;
      background-color: #74716d;
      border-radius: 50%;
    }
  }
}

// main

.main {
  background-color: #e7e3da;

  &__image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    @media screen and (max-width: $tablet) {
      height: unset;
    }
  }
  &__recommended-block {
    padding: 48px 170px;
    z-index: 1;
    position: absolute;
    @media screen and (max-width: $tablet) {
      padding: 24px 7px;
    }
  }
  &__title {
    position: relative;
    margin-bottom: 52px;
    font-family: "Grafita";
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
    color: #a18460;
    @media screen and (max-width: $tablet) {
      font-size: 24px;
    }
    &::before {
      content: url(../images/before.png);
      position: absolute;
      left: -166px;
      top: 0;
    }
  }
  &__icons {
    display: flex;
  }
  &__icon {
    width: 40px;
    height: 40px;
    margin-right: 35px;
    filter: invert(55%) sepia(80%) saturate(315%) hue-rotate(131deg)
      brightness(89%) contrast(91%);
  }
  &__form {
    display: flex;
    width: 576px;
    flex-direction: column;
    align-items: flex-start;
    margin: 52px 0;
    @media screen and (max-width: $tablet) {
      width: 100%;
      align-items: center;
    }
    :nth-child(3) {
      margin-bottom: 24px;
    }
  }
  &__label {
    width: 100%;
    @media screen and (max-width: $tablet) {
      width: 90%;
    }
  }
  &__input-title {
    display: none;
    font-size: 10px;
    color: #979086;
  }
  &__input--visible {
    display: block;
  }
  &__input {
    border-bottom: 1px solid #b0a99f;
    width: 100%;
    margin-bottom: 42px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #212424;
  }

  &__form-button {
    background: #b79163;
    width: 100%;
    padding: 16px;
    color: #fff;
    transition: 0.2s;
    @media screen and (max-width: $tablet) {
      width: 90%;
    }
    &::before {
      content: attr(text);
    }

    &:hover {
      border: 1px solid #b79163;
      background: #fff;
      color: #b79163;
      transition: 0.2s;
      &::before {
        content: attr(hover-text);
      }
    }
  }
}

input::placeholder {
  color: #212424;
}

.main {
  &__grid-block {
    position: relative;
    @media screen and (max-width: $tablet) {
      display: flex;
      justify-content: center;
    }
  }
  &__grid {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__grid-1 {
    height: 500px;
    background-color: #e7e3da;
  }
}
